{% extends "base.html" %}

{% block title %}
Income Historical
{% endblock %}

{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Your Incomes (hist)</h1>
      <table style="width:100%" class="table">
    <tr>
    <th>Description</th>
    <th>Type</th>
    <th>Date</th>
    <th>Amount</th>
  </tr>
{% for income in incomes.all %}
  <tr>
    <td>{{ income.name }}</td>
    <td>{{ income.type }}</td>
    <td>{{ income.date }}</td>
    <td>{{ income.amount }}</td>
  </tr>
    {% endfor %}
       </table>
    </div>

{% endblock %}