{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
    <div class="container">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Add Spending</h1>
     <form method="post" action="/expenses/hist" style="width:400px; margin-top:10px; margin-left: 150px;">
        {% csrf_token %}
        {% bootstrap_form form %}
         {% buttons %}
         <button type="submit" class="btn brn-primary">
             {% bootstrap_icon "star" %} Add Spending
         </button>
     {% endbuttons %}

      </form>

    <form method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit tag" />
</form>
    </div>
    </div>
{% endblock %}