{% extends "base.html" %}

{% block title %}
Expenses Historical
{% endblock %}

{% block content %}
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Your Expenses (hist)</h1>
      <table style="width:100%" class="table">
    <tr>
    <th>Description</th>
    <th>Category</th>
    <th>Date</th>
    <th>Amount</th>
  </tr>
{% for expense in expenses.all %}
  <tr>
    <td>{{ expense.name }}</td>
    <td>{{ expense.category }}</td>
    <td>{{ expense.date }}</td>
    <td>{{ expense.amount }}</td>
  </tr>
    {% endfor %}
       </table>
  </div>

{% endblock %}