{% extends "base.html" %}

{% block title %}
Spendings
{% endblock %}

{% block header %}

{% endblock header %}

{% block content %}
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Spendings</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <a href="{% url "chart_exp_month" year month %}"><img src="/static/img/month.png" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Per Amount</h4>
              <span class="text-muted"></span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <a href="{% url "chart_exp_month_cat" year month "Sport" %}"><img src="/static/img/year.png" class="img-responsive" alt="Generic placeholder thumbnail"></a>
              <h4>Per Category</h4>
              <span class="text-muted"></span>



          </div>
  </div>
</div>
      {% endblock %}