{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block header %}

{% endblock header %}

{% block content %}
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Spendings</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <a href="{% url "chart_exp_choice_month" %}"><img src="/static/img/month.png" class="img-responsive" alt="Generic placeholder thumbnail"></a>
              <h4>Per month</h4>
              <span class="text-muted"></span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <a href="{% url "chart_exp_choice_year" %}"><img src="/static/img/year.png" class="img-responsive" alt="Generic placeholder thumbnail"></a>
              <h4>Per Year</h4>
              <span class="text-muted"></span>
            </div>

              <div class="col-xs-6 col-sm-3 placeholder">
              <a href="{% url "chart_exp_choice_relation" %}"><img src="/static/img/relations2.png" class="img-responsive" alt="Generic placeholder thumbnail"></a>
              <h4>Spending Patterns</h4>
              <span class="text-muted"></span>
                </div>
              </div>



     <h2 class="sub-header">Spendings in {{ month }}</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th>Amount</th>
                </tr>
              </thead>

              <tbody>
              {% for expense in expenses %}
                <tr>
                  <td>{{ expense.category.name }}</td>
                  <td style="color:green;">{{ expense.amount }}</td>
                </tr>
               {% endfor %}

                </tbody>
                </table>
              </div>


</div>
{% endblock %}