{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Track your spendings!</h1>
              <p>The simple fact is, by tracking your spending you will be able to stick to a budget and therefore SAVE MONEY.</p>
              <p><a class="btn btn-lg btn-primary" href="{% url 'register' %}" role="button">Register today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAGZmZgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>You may think..</h1>
              <p>..you’re only spending X number of dollars on your hobbies, groceries, and transportation costs, but are you? Track your spending and you’ll know for sure. </p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAFVVVQAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
                <h1>Can you tell me how much money you spent today? This week? This month?</h1>
             With this tool tracking your spending is an easy part. Learning that you’ve been completely reckless? Now, that’s hard.
On the other hand, you can’t change what you refuse to recognize. You can’t tackle a problem that you don’t even understand. Tracking your spending will probably be the most painful part of your journey. Likewise, it’s the most important. Because when you see your own spending on paper — in black and white — you can no longer blame the kids or your busy schedule.
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->

      <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="/static/img/cat.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Group your spendings</h2>
          <p>We often ask ourselves where all our money went. Find out on what you spend most money. I promise you, you will be surprised!</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/static/img/relations.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>See relations</h2>
          <p>Find out more about your overall spending patterns. Track your spendings over a longer period and learn more about yourself.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="/static/img/statistics.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>What's left?</h2>
          <p>Cash Flow charts can tell you exactly how much money is left to spend / save or whatever...</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
</div>



{% endblock %}